<script src="https://giscus.app/client.js"
        data-repo="stodar/stodar.github.io"
        data-repo-id="R_kgDOTfnpRw"
        data-category="General"
        data-category-id="DIC_kwDOTfnpR84DBsMo"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="fr"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
